<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="{{ site.baseurl }}"><img src="{{ site.logo_url | prepend: '/' }}" alt="{{ site.title }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                        {% if page.layout == 'archive' %}
                        <a class="scroll" href="{{ site.baseurl }}/">Home</a>
                        {% else %}
                        <a class="scroll" href="#top">Home</a>
                        {% endif %}
                </li>
                <li>                        
                        {% if page.layout == 'archive' %}
                        <a class="scroll" href="{{ site.baseurl }}/#about">About</a>
                        {% else %}
                        <a class="scroll" href="{{ site.baseurl }}/#about">About</a>
                        {% endif %}
                </li>
                <li>
                        {% if page.layout == 'archive' %}
                        <a class="scroll" href="{{ site.baseurl }}/#treatments">Treatments</a>
                        {% else %}
                        <a class="scroll" href="{{ site.baseurl }}/#treatments">Treatments</a>
                        {% endif %}
                <li>
                        {% if page.layout == 'archive' or page.layout == 'posts' %}
                        <a class="scroll" href="{{ site.baseurl }}/blog">Blog</a>
                        {% else %}
                        <a class="scroll" href="blog">Blog</a>
                        {% endif %}
                    </li>
                <li>
                        {% if page.layout == 'archive' %}
                        <a class="scroll" href="{{ site.baseurl }}/#testimonials">Testimonials</a>
                        {% else %}
                        <a class="scroll" href="{{ site.baseurl }}/#testimonials">Testimonials</a>
                        {% endif %}
                </li>
                <li>
                        {% if page.layout == 'archive' %}
                        <a class="scroll" href="{{ site.baseurl }}/#prices">Prices</a>
                        {% else %}
                        <a class="scroll" href="{{ site.baseurl }}/#prices">Prices</a>
                        {% endif %}
                </li>
                <li>
                        {% if page.layout == 'archive' %}
                        <a class="scroll" href="{{ site.baseurl }}/#location">Location</a>
                        {% else %}
                        <a class="scroll" href="{{ site.baseurl }}/#location">Location</a>
                        {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->